body,
* {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  background-color: #f7f7f7;
}

button {
  border: none;
  background: none;
}

.blur {
  filter: blur(6px);
  pointer-events: none;
}

.flags {
  padding: 15px 0 40px 0;
}

.flags img {
  margin: 0 10px;
  filter: saturate(80%);
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.5s ease;
}

.flags img:hover{
  transform: scale(1.1);
}

header {
  background-image: url("./assets/hero-img.jpg");
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}


nav {
  padding: 20px 30px;
  transform: translateX(-100%);
  position: relative;
  height: 90%;
  transition: all 0.5s ease;
  backdrop-filter: blur(10px);
  z-index: 10;
  font-size: 1.2rem;
  font-weight: 300;
  z-index: 20;
  width: 60%;
}

nav.nav-open {
  transform: translateX(0);
}


.hamburger {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: -3rem;
  transition: all 1s ease;
}

.hamburger div {
  background-color: black;
  border-radius: 50px;
  width: 1.5rem;
  height: 0.1875rem;
  transform-origin: center;
  transition: 1s ease all;
  user-select: none;
}

.hamburger.nav-open {
  transform: translateX(-5rem);
}

.hamburger.nav-open .burger1 {
  transform: translateY(0.5rem) rotate(45deg);
  background: linear-gradient(90deg, #a3182f 50%, #2e6161 50%);
}

.hamburger.nav-open .burger2 {
  opacity: 0;
}

.hamburger.nav-open .burger3 {
  transform: translateY(-0.5rem) rotate(-45deg);
  background: linear-gradient(
    90deg,
    #2e6161 calc(50% - 0.1875rem),
    #a3182f 50%
  );
}

.hamburger.nav-closed .burger1 {
  transform: none;
}

.hamburger.nav-closed .burger2 {
  opacity: 1;
}

.hamburger.nav-closed .burger3 {
  transform: none;
}

nav ul {
  padding: 50px 0;
  text-transform: uppercase;
  list-style-type: none;
}

nav ul li {
  padding: 15px;
  cursor: pointer;
}

nav ul a {
  text-decoration: none;
  color: inherit;
  
}
nav ul a:hover{
  color:#0a646c;
  font-weight: bold;
}

h1 {
  position: absolute;
  background-image: url("./assets/h2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 58%;
  left: 44%;
  z-index: 1;
  color: rgba(0, 0, 0, 0);
  margin-right: 20px;
  user-select: none;
}

.offer-caption {
  opacity: 0;
  padding: 40px;
  text-align: center;
  background-color: white;
  animation: appear 1s 2s ease forwards;
}

@keyframes appear{
  100%{
    opacity: 1;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 3.5rem;
  }
  nav {
    font-size: 1.7rem;
  
  }
  nav ul li {
    padding: 40px;
    white-space: nowrap;
  }
  .hamburger {
    width: 2rem;
    height: 2rem;
    right: -4.5rem;
    margin-top: 25px;
  }
  .hamburger div {
    width: 2rem;
  }
  .hamburger.nav-open .burger1 {
    transform: translateY(0.75rem) rotate(45deg);
  }
  .flags {
    padding: 40px;
  }
  .flags img {
    margin: 0 20px;
  }
}

@media (min-width: 992px) {
  header {
    background: none;
    position: relative;
  }

  .hero-container{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    overflow: hidden;
  }

  .hero-container img{
    height: 100%;
    position: absolute;
    right: 0;
  }

  @keyframes rollUp{
    100%{
      transform: translateY(calc(-100% + 120px));
    }
  }

  nav::after{
    content: "";
    position: absolute;
    height: 100vh;
    width: 110%;
    left: -10%;
    background-color: #0a646c;
    opacity: 0.15;
    z-index: -10;
    top: 0;
    animation: rollUp 1.5s 1s ease forwards;
    transition: all 0.5s ease;
  }

  h1 {
    top: 30%;
    left: 10%;
    width: 400px;
  }

  p.offer-caption {
    text-align: left;
    background-color: white;
    position: absolute;
    top: 55%;
    max-width: 400px;
    left: 10.5%;
    padding: 0;
  }

  nav {
    transform: none;
    width: auto;
    backdrop-filter: none;
    height: 120px;
    font-size: 1.5rem;
    display: flex;
  }

  nav ul {
    display: flex;
    padding: 0;
  }

  nav ul li {
    padding: 20px;
  }

  nav:hover::after{
    opacity: 0;
  }

  .flags {
    padding: 15px 0;
  }

}

/*offer*/

#offer{
  position: relative;
}

.offer-btn {
  margin: 10px;
  height: 200px;
  width: 200px;
  color: white;
  background-color: rgb(10 100 108);
  padding: 20px;
  transition: all 0.5s ease;
}

.offer-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 70px;
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: 70px 0 40px 0;
  text-align: center;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255 255 255 / 78%);
  box-shadow: 0 8px 32px 0 rgb(118 118 118 / 10%);
  width: 85vw;
  z-index: 10;
  padding: 20px 40px 30px 40px;
}

.pop-up li {
  margin: 10px 0;
}
.pop-up li::before {
  content: "• ";
  color: #a3182f;
}
.pop-up ul {
  list-style-type: none;
}

.pop-up h4 {
  font-size: 1.25rem;
  padding: 20px 0;
}

button h3 {
  text-transform: uppercase;
  font-weight: 200;
}

.wizyta {
  background-color: #0a646c;
  border: 1px solid #0a646c;
  color: white;
  padding: 15px;
  font-size: 1rem;
  border-radius: 50px;
  margin: 20px 0;
}

.wizyta:hover,
.pop-up a:hover {
  background: none;
  color: inherit;
  border: 1px solid #a3182f;
}

.pop-up a {
  text-decoration: none;
  background-color: #0a646c;
  color: white;
  border-radius: 50px;
  padding: 15px;
  margin-top: 20px;
  display: inline-block;
}

.pop-up span {
  margin: 10px 0;
  display: block;
  font-weight: bolder;
}

.logo-btn {
  position: relative;
  height: 3rem;
  width: 3rem;
  transform-origin: center;
  animation: toExit 2s ease forwards;
  user-select: none;
  cursor: pointer;
}

.logo-btn img {
  position: absolute;
  height: 1.5rem;
}

.blue {
  bottom: 0;
  left: 0;
  transform: translate(25%, -25%);
}

.red {
  top: 0;
  right: 0;
  transform: translate(-25%, 25%);
}

.logo-btn.go-back .red {
  opacity: 0;
}

.logo-btn.go-back {
  animation: toArrow 1.5s ease forwards;
}

@keyframes toExit {
  100% {
    transform: translateX(50vw) rotate(45deg);
    filter: brightness(0) saturate(100%) invert(31%) sepia(53%)
      hue-rotate(136deg) brightness(94%) contrast(102%) saturate(612%);
  }
}

@keyframes toArrow {
  0% {
    transform: translateX(50vw) rotate(45deg);
    filter: brightness(0) saturate(100%) invert(31%) sepia(53%)
      hue-rotate(136deg) brightness(94%) contrast(102%) saturate(612%);
  }
  100% {
    transform: translateX(0) rotate(-135deg);
  }
}

@media (min-width: 700px) {
  h2 {
    font-size: 1.7rem;
    width: 100%;
    padding: 100px 0 70px 0;
  }

  .offer-caption {
    font-size: 1.5rem;
    padding: 70px;
  }
  .offer-btn {
    font-size: 1.3rem;
    height: 300px;
    width: 300px;
    margin: 20px;
  }
  .pop-up {
    width: 65vw;
    font-size: 1.3rem;
  }

  .pop-up h4 {
    font-size: 1.5rem;
    margin: 40px 0;
  }

  .wizyta {
    font-size: 1.3rem;
    margin: 40px 0;
  }

  .buttons-container{
    padding-bottom: 100px;
  }
}

@media (min-width: 992px) {
.pop-up{
  padding: 40px 60px 60px 60px;
  background: rgb(255 255 255 /88%);
}
.pop-up p,
.pop-up h4,
.pop-up ul, 
.pop-up a{
  text-align: center;
}

.wizyta,
.pop-up a{
  display:block;
  margin: 40px auto;
  width: fit-content;
}

.offer h2,
#contact h2{
  padding: 120px 0 100px;
}

.offer-container{
  padding-bottom: 100px;
}
.buttons-container{
  padding-bottom: 120px;
}

}
#contact {
  text-align: center;
  background-color: inherit;
}

.contact-container li {
  margin: 10px 0;
}

.contact-container li.li-btn{
  margin: 40px 0;
}

.contact-container a {
  background-color: #0a646c;
  color: white;
  padding: 15px;
  font-size: 1rem;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.contact-container a:hover {
  background: none;
  color: inherit;
  border: 1px solid #a3182f;
}

.map-container {
  margin: 50px 0;
}

@media (min-width: 700px) {
  .contact-container li {
    font-size: 1.5rem;
    margin: 20px 0;
  }

  .contact-container a {
    padding: 20px;
    font-size: 1.3rem;
  }

  .map-container {
    margin: 50px 40px;
  }
}

.gallery {
  position: relative;
  cursor: pointer;
}

.slide {
  width: 100vw;
  min-height: 40vh;
  position: relative;
}

.slide img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  right: 0;
  object-position: center;
}

#previousButton {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 10;
}

#nextButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
}

#nextButton svg,
#previousButton svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #0a646c;
}

#about {
  overflow: hidden;
}

#about h2{
  cursor: pointer;
  padding: 70px 0;
}

.doctors-container {
  transition: all 1s ease;
  opacity: 1;
  max-height: 500vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.doctors-container.closed {
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.doctor {
  overflow: hidden;
  transition: max-height 1s ease-in-out;
  background-color: white;
  margin: 20px;
  padding: 20px;
}

.doctor h3 {
  padding: 20px;
}

.doctor img {
  width: 80px;
  float: left;
  margin: 20px 30px 15px 0;
}

footer {
  text-align: center;
  padding: 7px;
  font-size: 0.75rem;
}

@media (min-width: 700px) {
  .doctor {
    margin: 20px 70px;
    font-size: 1.3rem;
    padding: 50px;
  }

  .doctor img {
    width: 130px;
  }

  footer {
    padding: 15px;
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
.slide{
  min-height: 60vh;
}

#about h2{
  padding: 120px 0 100px 0;
}
.map-container {
  margin: 70px 40px;
}
}

